#LowFooter {
    height: 75px;
    .contain-lowfooter {
        height: 100%;
        width: 93%;
        margin: 0 auto;
    }
    img {
        height: 15px;
    }
    span {
        color: #ffab0b;
    }
}

#UpFooter {
    height: 100%;
    background-image: url(./../../assets/img/university_ft_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .container-footer {
        height: 100%;
    }
    h3 {
        padding: 10px 0;
    }
    a {
        text-decoration: none;
        color: #2c3e50;
    }
    .date-events {
        border: 4px solid #ffab0b;
        height: 100%;
        text-align: center;
        * {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-bottom: 0;
        }
         :nth-child(2) {
            background-color: #ffab0b;
        }
    }
}